body {
    font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #06477D;;
    width: 350px;
    background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
div.counters {
  text-align: left;
  padding-left: 15px;
}

div.page-header {
    font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", sans-serif;
    color: rgb(0, 115, 153);
}

.no-border li {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    margin: 0;
    padding: .75ch;
    font-size: smaller;
}

